<ion-header>
  <ion-toolbar>
    <ion-title>{{uri == null ? 'Yükleniyor...' : uri.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ngx-extended-pdf-viewer *ngIf="!isBrowser" #hakkaniPdfViewer [useBrowserLocale]="true" [showDownloadButton]="false"
    [showOpenFileButton]="false" [showPropertiesButton]=false [showPrintButton]="false" [contextMenuAllowed]="false"
    [showHandToolButton]="true" [spread]="'off'" (textLayer)="false" [zoom]="'page-width'"
    (showUnverifiedSignatures)="true">
  </ngx-extended-pdf-viewer>

  <ion-content *ngIf="isBrowser" class="flip-book-container"></ion-content>
</ion-content>