<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kontrol Paneli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user != undefined">
    Hoşgeldiniz {{ user["userName"]  }}
  </div>
</ion-content>